${include:relay-huge.tmpl}
AuthoritativeDirectory 1
V3AuthoritativeDirectory 1
ContactInfo auth${nodenum}@test.test
ExitPolicy reject *:*
TestingV3AuthInitialVotingInterval 300
TestingV3AuthInitialVoteDelay 2
TestingV3AuthInitialDistDelay 2
TestingV3AuthVotingStartOffset 0
V3AuthVotingInterval 300
V3AuthVoteDelay 2
V3AuthDistDelay 2
# Work around situations where the Exit and Guard flags aren't being set
# These flags are set eventually, but it takes ~30 minutes
# We could be more precise here, but it's easiest just to vote everything
# Clients are sensible enough to filter out Exits without any exit ports, 
# and Guards without ORPorts
TestingDirAuthVoteExit *
TestingDirAuthVoteGuard *
