${include:common.i}
SocksPort $socksport

#NOTE: Setting TestingClientConsensusDownloadSchedule doesn't
#      help -- dl_stats.schedule is not DL_SCHED_CONSENSUS
#      at boostrap time.
# Try to download immediately,
# then a quater of the minimum testing consensus interval
TestingClientDownloadSchedule 0, 2
TestingClientConsensusDownloadSchedule 0, 2

# Speed things up a little more by waiting 1 second (rather than 5)
# when we have fewer than 16 descriptors to download
TestingClientMaxIntervalWithoutRequest 1
